.frame-31,
.frame-31 * {
  box-sizing: border-box;
}
.frame-31 {
  background: #ffffff;
  height: 5010px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #0e2432;
  width: 1920px;
  height: 944px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 2505px);
}
.rectangle-2 {
  background: #0e2432;
  border-radius: 205px;
  width: 1920px;
  height: 216px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 1669px);
}
.image-2 {
  opacity: 0.1;
  width: 1928px;
  height: 1070px;
  position: absolute;
  left: 0px;
  top: 10px;
  object-fit: cover;
  aspect-ratio: 1928/1070;
}
.huna-arabic {
  color: #ffffff;
  text-align: left;
  font-family: "Impact-Regular", sans-serif;
  font-size: 174.01437377929688px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 504.16px;
  top: 409.9px;
}
.div {
  color: #ffffff;
  text-align: center;
  font-family: "Geist-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 449px);
  top: 570.09px;
}
.div2 {
  color: #0e2432;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 38px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 312px);
  top: 2289px;
}
.div3 {
  color: #0f3349;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 68px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3827px;
}
.frame-2131327560 {
  display: flex;
  flex-direction: row;
  gap: 99px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  left: 1210px;
  top: 95px;
}
.div4 {
  color: #d6dee3;
  text-align: left;
  font-family: "Geist-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-22 {
  background: #ffffff;
  border-radius: 93.02px;
  width: 364px;
  height: 88.17px;
  position: absolute;
  left: calc(50% - 178px);
  top: calc(50% - 1703.58px);
}
.div5 {
  color: #0e2432;
  text-align: center;
  font-family: "Arial-Bold", sans-serif;
  font-size: 30.737777709960938px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 118px);
  top: 828.11px;
}
.group-1321315456 {
  position: absolute;
  inset: 0;
}
.rectangle-59 {
  background: #2d6283;
  border-radius: 50px;
  width: 916px;
  height: 529px;
  position: absolute;
  left: 42px;
  top: 3963px;
}
.group-1321315453 {
  width: 364px;
  height: 88.17px;
  position: static;
}
.rectangle-23 {
  background: #ffffff;
  border-radius: 50px;
  width: 364px;
  height: 88.17px;
  position: absolute;
  left: calc(50% - 386px);
  top: calc(50% - -1879px);
}
.div6 {
  color: #2d6283;
  text-align: center;
  font-family: "Geist-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 299px);
  top: calc(50% - -1904px);
}
.div7 {
  color: #f2faff;
  text-align: left;
  font-family: "Geist-ExtraBold", sans-serif;
  font-size: 48px;
  font-weight: 800;
  position: absolute;
  left: 102px;
  top: 4013px;
  width: 825px;
  height: 182px;
}
.group-1321315457 {
  position: absolute;
  inset: 0;
}
.rectangle-60 {
  background: #2d6283;
  border-radius: 50px;
  width: 916px;
  height: 529px;
  position: absolute;
  left: 970px;
  top: 3963px;
}
.group-1321315455 {
  width: 364px;
  height: 88.17px;
  position: static;
}
.rectangle-24 {
  background: #ffffff;
  border-radius: 50px;
  width: 364px;
  height: 88.17px;
  position: absolute;
  left: calc(50% - -542px);
  top: calc(50% - -1879px);
}
.div8 {
  color: #2d6283;
  text-align: center;
  font-family: "Geist-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - -629px);
  top: calc(50% - -1904px);
}
.div9 {
  color: #f2faff;
  text-align: left;
  font-family: "Geist-ExtraBold", sans-serif;
  font-size: 48px;
  font-weight: 800;
  position: absolute;
  left: 1030px;
  top: 4013px;
  width: 825px;
  height: 182px;
}
.group-1321315486 {
  position: absolute;
  inset: 0;
}
.block-6 {
  width: 1820px;
  height: 678px;
  position: static;
}
.div10 {
  color: #0b0a33;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  line-height: 121%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 257px);
  top: 2892px;
}
.group-1321315420 {
  width: 1820px;
  height: 211px;
  position: static;
}
.rectangle-242 {
  background: #ffffff;
  border-radius: 30px;
  width: 1820px;
  height: 211px;
  position: absolute;
  left: 50px;
  top: 3004px;
  box-shadow: 0px 0px 40px 0px rgba(72, 120, 151, 0.1);
}
.div11 {
  color: #7c7e9d;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 27px;
  line-height: 160%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 715px);
  top: 3114px;
  width: 1473px;
  height: 85px;
}
.div12 {
  color: #0d3e5c;
  text-align: left;
  font-family: "Geist-Bold", sans-serif;
  font-size: 38px;
  line-height: 71px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 717px);
  top: 3043px;
}
.group-1321315458 {
  width: 100px;
  height: 100px;
  position: static;
}
.rectangle-64 {
  background: #cde4f3;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 90px;
  top: 3060px;
}
.mask-group {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 109px;
  top: 3079px;
  overflow: visible;
}
.group-1321315421 {
  width: 895px;
  height: 325px;
  position: static;
}
.rectangle-243 {
  background: #ffffff;
  border-radius: 30px;
  width: 895px;
  height: 325px;
  position: absolute;
  left: 50px;
  top: 3245px;
  box-shadow: 0px 0px 40px 0px rgba(72, 120, 151, 0.1);
}
.div13 {
  color: #7c7e9d;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 27px;
  line-height: 160%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 715px);
  top: 3395px;
  width: 675px;
  height: 175px;
}
.div14 {
  color: #0b0b33;
  text-align: left;
  font-family: "Geist-Bold", sans-serif;
  font-size: 38px;
  line-height: 55px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 717px);
  top: 3292px;
  width: 596.67px;
}
.group-1321315422 {
  width: 895px;
  height: 325px;
  position: static;
}
.rectangle-244 {
  background: #ffffff;
  border-radius: 30px;
  width: 895px;
  height: 325px;
  position: absolute;
  left: 975px;
  top: 3245px;
  box-shadow: 0px 0px 40px 0px rgba(72, 120, 151, 0.1);
}
.div15 {
  color: #7c7e9d;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 27px;
  line-height: 160%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -210px);
  top: 3342.17px;
  width: 616px;
  height: 142.9px;
}
.div16 {
  color: #0b0b33;
  text-align: left;
  font-family: "Geist-Bold", sans-serif;
  font-size: 38px;
  line-height: 55px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -208px);
  top: 3283.38px;
  width: 596.67px;
  height: 44.91px;
}
.image-27 {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1029px;
  top: 3343px;
  object-fit: cover;
}
.group-1321315476 {
  width: 100px;
  height: 100px;
  position: static;
}
.rectangle-82 {
  background: #cde4f3;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 90px;
  top: 3343px;
}
.image-77 {
  width: 64px;
  height: 54px;
  position: absolute;
  left: 108px;
  top: 3367px;
  object-fit: cover;
  aspect-ratio: 64/54;
}
.group-1321315477 {
  width: 100px;
  height: 100px;
  position: static;
}
.rectangle-822 {
  background: #cde4f3;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1029px;
  top: 3342px;
}
.image-78 {
  width: 64px;
  height: 66px;
  position: absolute;
  left: 1047px;
  top: 3359px;
  object-fit: cover;
  aspect-ratio: 64/66;
}
.group-1321315478 {
  position: absolute;
  inset: 0;
}
.rectangle-84 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  width: 352.33px;
  height: 276px;
  position: absolute;
  left: 34px;
  top: 2395px;
  box-shadow: 5px 5px 10px 0px rgba(72, 120, 151, 0.02);
}
.div17 {
  color: #4b81a3;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 61.1px;
  top: 2563px;
  width: 297px;
}
.image-68 {
  width: 105.2px;
  height: 98.83px;
  position: absolute;
  left: 157px;
  top: 2429.09px;
  object-fit: cover;
  aspect-ratio: 105.2/98.83;
}
.group-1321315484 {
  position: absolute;
  inset: 0;
}
.group-1321315480 {
  width: 352.33px;
  height: 276px;
  position: static;
}
.rectangle-842 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  width: 352.33px;
  height: 276px;
  position: absolute;
  left: 783.83px;
  top: 2395px;
  box-shadow: 5px 5px 10px 0px rgba(72, 120, 151, 0.02);
}
.div18 {
  color: #4b81a3;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 810.94px;
  top: 2563px;
  width: 297px;
}
.image-74 {
  width: 129px;
  height: 73px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2455px;
  object-fit: cover;
  aspect-ratio: 129/73;
}
.group-1321315479 {
  position: absolute;
  inset: 0;
}
.rectangle-843 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  width: 352.33px;
  height: 276px;
  position: absolute;
  left: 408.92px;
  top: 2395px;
  box-shadow: 5px 5px 10px 0px rgba(72, 120, 151, 0.02);
}
.div19 {
  color: #4b81a3;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 481px);
  top: 2563px;
  width: 212px;
}
.image-69 {
  width: 106px;
  height: 94px;
  position: absolute;
  left: 532px;
  top: 2434px;
  object-fit: cover;
  aspect-ratio: 106/94;
}
.group-1321315481 {
  position: absolute;
  inset: 0;
}
.rectangle-844 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  width: 352.33px;
  height: 276px;
  position: absolute;
  left: 1158.75px;
  top: 2395px;
  box-shadow: 5px 5px 10px 0px rgba(72, 120, 151, 0.02);
}
.div20 {
  color: #4b81a3;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 1185.85px;
  top: 2563px;
  width: 297px;
}
.image-70 {
  width: 113px;
  height: 89px;
  position: absolute;
  left: 1279px;
  top: 2444px;
  object-fit: cover;
  aspect-ratio: 113/89;
}
.group-1321315482 {
  position: absolute;
  inset: 0;
}
.rectangle-845 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  width: 352.33px;
  height: 276px;
  position: absolute;
  left: 1533.67px;
  top: 2395px;
  box-shadow: 5px 5px 10px 0px rgba(72, 120, 151, 0.02);
}
.div21 {
  color: #4b81a3;
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 1560.77px;
  top: 2563px;
  width: 297px;
}
.image-71 {
  width: 97px;
  height: 92px;
  position: absolute;
  left: 1665px;
  top: 2442px;
  object-fit: cover;
  aspect-ratio: 97/92;
}
.group-1321315487 {
  position: absolute;
  inset: 0;
}
.rectangle-61 {
  background: #2d6283;
  border-radius: 50px;
  width: 915px;
  height: 716px;
  position: absolute;
  left: 34px;
  top: 1371px;
}
.rectangle-62 {
  background: #2d6283;
  border-radius: 50px;
  width: 916px;
  height: 811px;
  position: absolute;
  left: 970px;
  top: 1230px;
}
.div22 {
  color: #0e2432;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 68px;
  line-height: 37.4px;
  font-weight: 700;
  position: absolute;
  left: 38px;
  top: 1260px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2022 {
  color: #daf0ff;
  text-align: left;
  font-family: "Onest-Light", sans-serif;
  font-size: 32px;
  line-height: 43.63px;
  font-weight: 300;
  position: absolute;
  left: 82px;
  top: 1693px;
  width: 797px;
  height: 271px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2-3 {
  color: #daf0ff;
  text-align: left;
  font-family: "Onest-Light", sans-serif;
  font-size: 32px;
  line-height: 43.63px;
  font-weight: 300;
  position: absolute;
  left: 1021px;
  top: 1557px;
  width: 799px;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._3000 {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 94px;
  top: 1452.74px;
  width: 450.53px;
}
._3000-span {
  font-family: "Arial-Bold", sans-serif;
  font-size: 81.04796600341797px;
  font-weight: 700;
}
._3000-span2 {
  font-family: "Arial-Bold", sans-serif;
  font-size: 45.29151153564453px;
  font-weight: 700;
}
._30 {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: calc(50% - -62px);
  top: 1306px;
  width: 450.53px;
}
._30-span {
  font-family: "Arial-Bold", sans-serif;
  font-size: 81.04796600341797px;
  font-weight: 700;
}
._30-span2 {
  font-family: "Arial-Bold", sans-serif;
  font-size: 45.29151153564453px;
  font-weight: 700;
}
.div23 {
  position: absolute;
  inset: 0;
}
.rectangle-83 {
  background: #122b3a;
  border-radius: 70px 70px 0px 0px;
  width: 1920px;
  height: 318px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.mask-group2 {
  width: 1920px;
  height: 318px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.logo-2 {
  width: 158px;
  height: 173px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4764px;
  overflow: visible;
}
.frame-2131327553 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 70px;
  top: 4764px;
}
.div24 {
  color: #f0f0f0;
  text-align: center;
  font-family: "Geist-Medium", sans-serif;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: relative;
}
.frame-21313275532 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 1399px;
  top: 4764px;
}
.youtube {
  color: #f0f0f0;
  text-align: center;
  font-family: "Geist-Medium", sans-serif;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: relative;
}
.t-me {
  color: #f0f0f0;
  text-align: center;
  font-family: "Geist-Medium", sans-serif;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: relative;
}
.inst-com {
  color: #f0f0f0;
  text-align: center;
  font-family: "Geist-Medium", sans-serif;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: relative;
}
.g-34 {
  height: auto;
  position: absolute;
  left: 95px;
  top: 148px;
  transform: translate(0px, -86px);
  overflow: visible;
}
