@font-face {
    font-family: Geist;
    src: url("../fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Impact;
    src: url("../fonts/ofont.ru_Impact.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Onest;
    src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
}


a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}



.home {
    background: #0E2432 url("../img/bg-simbols.png") center / cover no-repeat;
    height: 1052px;
    border-radius: 0 0 100px 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 36px 0 95px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 99px;
    /* width: 674px; */
    font-family: Geist;
    font-size: 24px;
}

.menu-toggle {
    display: none;
}

.mobile-menu-overlay {
    display: none;
}

.logo {
    width: 100px;
    height: 86px;
}

.block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 284px;
    text-transform: uppercase;
}

.title {
    font-family: Impact;
    font-size: 174px;
    font-weight: 400;
    color: #fff;
}

.subtitle {
    font-family: Geist;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.block-title__button {
    margin-top: 137px;
    padding: 26.5px 60px;
    font-family: Geist;
    font-size: 31px;
    font-weight: bold;
    color: #0E2432;
    background-color: #fff;
    border-radius: 93px;
    cursor: pointer;
    text-transform: uppercase;
}

main {
    padding: 0 34px;
}

.course-highlight {
    margin-top: 107px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.course-highlight__title {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    color: #0E2432;
    text-align: center;
}

.course-highlight__title span {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #264E66;
    border-radius: 32px;
    padding: 3px 15px;
}

.quran {
    margin-top: 121px;
}

.quran__block {
    width: 1074px;
    height: 450px;
    padding: 40px 51px;
    background-color: #17374A;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.quran__block h4 {
    font-size: 48px;
    font-weight: 700;
    font-family: Geist;
    color: #F2FAFF;
}

.quran__block a {
    padding: 30px 137.5px;
    color: #17374A;
    background-color: #fff;
    font-size: 27px;
    font-family: Geist;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.format {
    margin-top: 216px;
}

.format__title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    color: #0E2432;
    text-align: center;
}

.format__list {
    display: flex;
    flex-direction: row;
    margin: 75px auto 0;
    justify-content: center;
    width: 80%;
    align-items: stretch;
}

.format__item {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 0 32px;
    font-family: Geist;
}

.format__item + .format__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #3E667E;
}

.format__item h5 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    padding: 0 14px;
    background-color: #264E66;
    border-radius: 35px;
}

.format__item p {
    font-size: 24px;
    font-weight: 500;
    color: #4B81A3;
    text-align: center;
}

.price {
    margin-top: 190px;
}

.price__title {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    color: #0E143F;
    text-align: center;
}

.price__list {
    position: relative;
    width: 1080px;
    height: 630px;
    margin: 84px auto 0;
}

.price__item {
    position: absolute;
    border-radius: 48px;
}

.price__item h5 {
    font-family: Geist;
    font-size: 68px;
    font-weight: 700;
}

.price__item--small {
    left: 0;
    top: 0;
    width: 826px;
    height: 450px;
    border: 1px solid #2D6283;
    padding: 35px 41px;
}

.price__item--small h5 {
    color: #17374A;
}

.price__item--full {
    right: 0;
    bottom: 0;
    width: 826px;
    height: 450px;
    background-color: #173F58;
    padding: 32px 58px;
    color: #D9E7EF;
}

.price__item--full h5 {
    color: #F2FAFF;
}

.price__subtitle {
    font-family: Geist;
    font-size: 48px;
    font-weight: 500;
    color: #D8F0FF;
}

.price__value {
    position: absolute;
    width: 265px;
    height: 157px;
    border-radius: 100%;
    border: 6px solid #2D6283;
    background-color: #fff;
    font-family: Geist;
    font-size: 35px;
    font-weight: 500;
    color: #2D6283;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-13deg);
}

.price__item--small .price__value {
    left: -66px;
    bottom: -26px;
}

.price__item--full .price__value {
    right: -26px;
    bottom: -24px;
}

.price__value span {
    color: #C5943D;
    margin-left: 8px;
}

.record {
    margin-top: 160px;
}

.record__title {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    color: #0E143F;
    text-align: center;
}

.record__switch {
    margin: 60px auto 0;
    width: 63%;
    height: 124px;
    border: 1px solid #2E6487;
    border-radius: 100px;
    background-color: #F8FBFD;
    box-shadow: 4px 10px 0 0 #17374A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.record__switch-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Geist;
    font-size: 27px;
    font-weight: 500;
    color: #17374A;
    text-transform: uppercase;
}

.record__switch-item + .record__switch-item {
    border-left: 1px solid #7E99AB;
}

footer {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    margin-top: 200px;
    padding: 72px 70px;
    border-radius: 70px 70px 0 0;
    background-color: #122B3A;
    color: #F0F0F0;
    font-family: Geist;
    font-weight: 500;
    font-size: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.06em;
}

footer::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(circle, #A6DCFF 0%, #282A2B 100%);
    filter: blur(120px);
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}

footer > * {
    position: relative;
    z-index: 1;
}

.footer__refs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 451px;
}

.footer-social {
    align-items: flex-end;
}

.footer-record {
    display: none;
}

footer img {
    height: 173px;
    filter: drop-shadow(0 0 30px rgba(102, 189, 255, 0.28));
}

@media (max-width: 390px) {
    .home {
        position: relative;
        overflow: hidden;
        width: 358px;
        height: 760px;
        margin: 16px auto 0;
        border-radius: 30px 0 30px 30px;
        background:
            url("../img/bg-simbols.png") center / cover no-repeat,
            url("../img/bg-adaptive-home.svg") center / cover no-repeat;
    }

    header {
        padding: 0;
        align-items: normal;
        transition: opacity 0.1s ease, visibility 0.1s ease;
    }

    main {
        padding: 0;
        margin: 0 16px;
    }

    .logo {
        width: 42px;
        height: 46px;
        margin: 14px 0 0 22px;
    }

    .menu {
        display: none;
    }

    .menu-toggle {
        position: relative;
        z-index: 3;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #122D3E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
    }

    .menu-toggle span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: #fff;
    }

    .block-title {
        position: relative;
        margin-top: 60%;
        padding: 16px;
        z-index: 1;
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    .title {
        font-size: 67px;
        line-height: 0.95;
        text-align: center;
    }

    .subtitle {
        margin-top: 8px;
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1;
        text-align: center;
    }

    .block-title__button {
        display: none;
    }

    .mobile-menu-overlay {
        position: absolute;
        inset: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background: rgb(255, 255, 255);
        border-radius: inherit;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    .home.menu-open .mobile-menu-overlay {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .home.menu-open {
        background: #fff;
    }

    .home.menu-open > header,
    .home.menu-open > .block-title {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .home.menu-open ~ main,
    .home.menu-open ~ footer {
        filter: blur(6px);
    }

    .mobile-menu-close {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #122D3E;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .mobile-menu-close span {
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }

    .mobile-menu-close span:first-child {
        transform: rotate(45deg);
    }

    .mobile-menu-close span:last-child {
        transform: rotate(-45deg);
    }

    .mobile-menu-panel {
        flex: 0 0 auto;
        border-radius: 30px;
        background: linear-gradient(140deg, #163C58 0%, #0E2432 100%);
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 41px;
    }

    .mobile-menu-links,
    .mobile-menu-social {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .mobile-menu-social {
        align-items: flex-end;
    }

    .mobile-menu-links a,
    .mobile-menu-social a {
        font-family: Geist;
        font-size: 24px;
        font-weight: 400;
        color: #F0F0F0;
        line-height: 1.1;
    }

    .mobile-menu-brand {
        position: relative;
        width: fit-content;
        margin: 41px auto;
        padding: 6px 12px;
        font-family: Impact;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        color: #0E2432;
        -webkit-text-stroke: 1px #3C6681;
        z-index: 0;
    }

    .mobile-menu-brand::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 350px;
        height: 450px;
        transform: translate(-50%, -50%);
        border-radius: 999px;
        background: radial-gradient(circle, #9EADFF 0%, #282A2B 100%);
        opacity: 0.1;
        filter: blur(6px);
        z-index: -1;
    }

    .course-highlight {
        margin-top: 50px;
        width: 100%;
    }

    .course-highlight__title {
        font-size: 22px;
        line-height: 1.2;
    }

    .course-highlight__title span {
        font-size: 19px;
        border-radius: 999px;
        padding: 2px 10px;
    }

    .quran {
        margin-top: 50px;
    }

    .quran__block {
        width: 100%;
        height: 150px;
        padding: 13px 17px;
        border-radius: 15px;
    }

    .quran__block h4 {
        font-size: 16px;
    }

    .quran__block a {
        font-size: 10px;
        padding: 9px 31px;
        border-radius: 999px;
    }

    .format {
        margin-top: 100px;
    }

    .format__title {
        font-size: 22px;
    }

    .format__list {
        width: 100%;
        margin-top: 0;
        flex-direction: column;
    }

    .format__item {
        gap: 15px;
        padding: 65px 0;
    }

    .format__item:first-child {
        padding: 50px 0 65px 0;
    }

    .format__item:last-child {
        padding: 65px 0 0 0;
    }

    .format__item + .format__item::before {
        top: 0;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 1px;
    }

    .format__item h5 {
        font-size: 30px;
    }

    .format__item p {
        font-size: 20px;
    }

    .price {
        margin-top: 155px;
    }

    .price__title {
        font-size: 22px;
    }

    .price__list {
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }

    .price__item {
        width: 244px;
        height: 133px;
        padding: 15px 20px;
        border-radius: 15px;
    }

    .price__item--small {
        right: 78px;
        left: inherit;
        top: 0;
    }

    .price__item--full {
        left: 78px;
        right: inherit;
        bottom: 0;
    }

    .price__item h5 {
        font-size: 18px;
    }

    .price__subtitle {
        font-size: 14px;
    }

    .price__value {
        width: 78px;
        height: 46px;
        font-size: 10px;
        border-width: 2px;
    }

    .price__item--small .price__value {
        left: -39px;
        bottom: -10px;
    }

    .price__item--full .price__value {
        right: -39px;
        bottom: -8px;
    }

    .price__value span {
        margin-left: 3px;
    }

    main .record {
        margin-top: 60px;
    }

    main .record .record__title {
        font-family: Geist;
        font-size: 18px;
        font-weight: 500;
        color: #17374A;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 14px;
    }

    main .record .record__switch {
        width: 356px;
        max-width: 100%;
        height: 26px;
        margin: 0 auto;
        border-radius: 999px;
        background-color: #F8FBFD;
        box-shadow: 1px 2px 0 0 #17374A;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    main .record .record__switch-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Geist;
        font-size: 10px;
        line-height: 1;
        color: #17374A;
        text-transform: uppercase;
    }

    main .record .record__switch-item + .record__switch-item {
        border-left: 1px solid #7E99AB;
    }

    footer {
        margin-top: 90px;
        padding: 25px 17px 20px 17px;
        border-radius: 0;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-areas:
            "logo info"
            "social social";
        align-items: start;
        letter-spacing: normal;
        background-color: #142C3C;
    }

    footer img,
    .footer-logo {
        grid-area: logo;
        width: 100px;
        height: 107px;
        justify-self: start;
        align-self: start;
    }

    .footer__refs {
        width: 356px;
        max-width: 100%;
        gap: 14px;
    }

    .footer-info {
        grid-area: info;
        width: 200px;
        align-items: flex-end;
        justify-self: end;
    }

    .footer-social {
        display: none;
    }

    .footer-record {
        display: block;
        grid-area: social;
        width: 356px;
        max-width: 100%;
        margin: 52px 0 auto;
    }

    .footer-record .record__title {
        text-align: center;
        font-family: Geist;
        font-size: 21px;
        font-weight: 500;
        color: #E0F3FF;
        line-height: 1.2;
        margin-bottom: 14px;
    }

    .footer-record .record__switch {
        width: 356px;
        max-width: 100%;
        height: 26px;
        margin: 0 auto;
        border-radius: 999px;
        background-color: #F8FBFD;
        box-shadow: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    .footer-record .record__switch-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Geist;
        font-size: 10px;
        line-height: 1;
        color: #17374A;
        text-transform: uppercase;
    }

    .footer-record .record__switch-item + .record__switch-item {
        border-left: 1px solid #7E99AB;
    }

    footer a {
        display: block;
        font-size: 24px;
        line-height: 1;
        text-align: right;
        letter-spacing: normal;
        white-space: nowrap;
    }

    .footer-info a {
        letter-spacing: -0.06em;
        font-weight: 400;
        text-align: right;
    }
}
