@font-face {
    font-family: Geist;
    src: url("../fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Impact;
    src: url("../fonts/Impact.ttf") format("truetype");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Onest;
    src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
}


a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}



.home {
    background: #0E2432 url("../img/bg-simbols.png") center / cover no-repeat;
    height: 1052px;
    border-radius: 0 0 100px 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 36px 0 95px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 99px;
    /* width: 674px; */
    font-family: Geist;
    font-size: 24px;
}

.logo {
    width: 100px;
    height: 86px;
}

.block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 284px;
    text-transform: uppercase;
}

.title {
    font-family: Impact;
    font-size: 174px;
    font-weight: 400;
    color: #fff;
}

.subtitle {
    font-family: Geist;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.block-title__button {
    margin-top: 137px;
    padding: 26.5px 60px;
    font-family: Geist;
    font-size: 31px;
    font-weight: bold;
    color: #0E2432;
    background-color: #fff;
    border-radius: 93px;
    cursor: pointer;
    text-transform: uppercase;
}

main {
    padding: 0 34px;
}

.course-highlight {
    margin-top: 107px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.course-highlight__title {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 700;
    color: #0E2432;
    text-align: center;
}

.course-highlight__title span {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #264E66;
    border-radius: 32px;
    padding: 3px 15px;
}

.quran {
    margin-top: 121px;
}

.quran__block {
    width: 1074px;
    height: 450px;
    padding: 40px 51px;
    background-color: #17374A;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.quran__block h4 {
    font-size: 48px;
    font-weight: 700;
    font-family: Geist;
    color: #F2FAFF;
}

.quran__block a {
    padding: 30px 137.5px;
    color: #17374A;
    background-color: #fff;
    font-size: 27px;
    font-family: Geist;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.format {
    margin-top: 216px;
}

.format__title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    color: #0E2432;
    text-align: center;
}

.format__list {
    display: flex;
    flex-direction: row;
    margin: 75px auto 0;
    justify-content: center;
    width: 80%;
    align-items: stretch;
}

.format__item {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 0 32px;
    font-family: Geist;
}

.format__item + .format__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #3E667E;
}

.format__item h5 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    padding: 0 14px;
    background-color: #264E66;
    border-radius: 35px;
}

.format__item p {
    font-size: 24px;
    font-weight: 500;
    color: #4B81A3;
    text-align: center;
}

.price {
    margin-top: 190px;
}

.price__title {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    color: #0E143F;
    text-align: center;
}

.price__list {
    position: relative;
    width: 1080px;
    height: 630px;
    margin: 84px auto 0;
}

.price__item {
    position: absolute;
    border-radius: 48px;
}

.price__item h5 {
    font-family: Geist;
    font-size: 68px;
    font-weight: 700;
}

.price__item--small {
    left: 0;
    top: 0;
    width: 826px;
    height: 450px;
    border: 1px solid #2D6283;
    padding: 35px 41px;
}

.price__item--small h5 {
    color: #17374A;
}

.price__item--full {
    right: 0;
    bottom: 0;
    width: 826px;
    height: 450px;
    background-color: #173F58;
    padding: 32px 58px;
    color: #D9E7EF;
}

.price__item--full h5 {
    color: #F2FAFF;
}

.price__subtitle {
    font-family: Geist;
    font-size: 48px;
    font-weight: 500;
    color: #D8F0FF;
}

.price__value {
    position: absolute;
    width: 265px;
    height: 157px;
    border-radius: 100%;
    border: 6px solid #2D6283;
    background-color: #fff;
    font-family: Geist;
    font-size: 35px;
    font-weight: 500;
    color: #2D6283;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-13deg);
}

.price__item--small .price__value {
    left: -66px;
    bottom: -26px;
}

.price__item--full .price__value {
    right: -26px;
    bottom: -24px;
}

.price__value span {
    color: #C5943D;
    margin-left: 8px;
}

.record {
    margin-top: 160px;
}

.record__title {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    color: #0E143F;
    text-align: center;
}

.record__switch {
    margin: 60px auto 0;
    width: 63%;
    height: 124px;
    border: 1px solid #2E6487;
    border-radius: 100px;
    background-color: #F8FBFD;
    box-shadow: 4px 10px 0 0 #17374A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.record__switch-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Geist;
    font-size: 27px;
    font-weight: 500;
    color: #17374A;
    text-transform: uppercase;
}

.record__switch-item + .record__switch-item {
    border-left: 1px solid #7E99AB;
}

footer {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    margin-top: 200px;
    padding: 72px 70px;
    border-radius: 70px 70px 0 0;
    background-color: #122B3A;
    color: #F0F0F0;
    font-family: Geist;
    font-weight: 500;
    font-size: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.06em;
}

footer::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(circle, #A6DCFF 0%, #282A2B 100%);
    filter: blur(120px);
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}

footer > * {
    position: relative;
    z-index: 1;
}

.footer__refs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 451px;
}

.footer-social {
    align-items: flex-end;
}

footer img {
    height: 173px;
    filter: drop-shadow(0 0 30px rgba(102, 189, 255, 0.28));
}
